<!-- <p>questions works!</p> -->

<!-- <form id="reset">
    <div class="container">
      <div *ngFor="let ques of quests" class="text-dark">
         <app-questions [out] = ques>

        </app-questions>
        <div>{{[out] == ques}}</div>
      
      </div>
    </div>
   <div class="container">
      <div class="text-center">
        <button type="reset" onclick="clearForm()" class="btn btn-secondary">Reset</button>
        <button (click)="refresh()" class="btn btn-primary">Refresh</button>
      </div>
    </div> 
  </form> -->

<div>
    <h4>{{out.question}}</h4>
    <div *ngFor = "let opt of out.options">                                                                                 <!--Disable (below)-->
        <input type="radio" id="out.options" (click) = "validate(opt,out,out.options)" [name]="out.options" [value] = "opt" [disabled] = "disabled">  {{opt}}
    </div>
    <div *ngIf = "value" class="alert alert-success">
        Correct answer
    </div>
    <div *ngIf = "value1" class="alert alert-danger">
        Wrong answer
    </div>
</div>
